html {
  overflow-x: hidden;
}

body {
  line-height: 1.2em !important;
  background: #282a36;
  padding-bottom: 2rem;
  /* font-size: 14px; */
  /* font-weight: 200; */
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color : 	#f8f8f2;
  line-height: 1.2rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}
.card {
  background: #44475a;
  margin-bottom: 1.5rem;
}

h1, h2, h3{
  color: #ffb86c;
}

h4, h5{
  /* color: #ffb86c; */
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color : #50fa7b;
}

a.btn:hover{
  border-bottom: none;
}

a:hover {
  text-decoration: none;
  color: #f1fa8c;
  /* border-bottom: 1.5px solid #0046ce; */
}

a a:focus {
  outline: none;
}

a.nav-link{
  /* color:#50fa7b; */
}

a.nav-link:hover{
  /* color: #9DFFC8; */
  border-bottom: none !important;
}

li.active a.nav-link {
  color: #3f80ff70 !important;
}
.btn2{
margin-right: 1em;
}

.card-body{
  /* transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s; */
  radius: 50%;
}


hr { display: block; height: 1px;
  border: 0; border-top: 0.2rem solid #50fa7b;
  margin: 1em 0; padding: 0; 
  margin-bottom: 2rem;
}

.card-body:hover{
  /* box-shadow: 0 7px 15px 7px rgba(27, 38, 49, 0.1); */
  /* -webkit-animation-duration: 10s;
  animation-duration: 10s;
  border-bottom: 1px solid #00000025; */
}

.alert-custom{
  background: #44475a;
}

.float-left{
  clear: left;
}

.section-padding {
  padding: 3rem 0;
}

.container{
  max-width: 50em;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}


a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background:  #3f80ff;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(255, 255, 255);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
  border-bottom: none;
}

.navbar {
  padding: 0.8rem 0;
  background-color: #FFF;
   /* background-color: #413c42; */
  /* background: linear-gradient(90deg, #6c6773 , #413c42); */
  color: #303030;
  border-bottom: 1px solid #00000025;
}

#header {
    margin-bottom: 3rem;
}

.top-nav-collapse {
  z-index: 999999;
  padding: 0.6rem !important;
  top: 0px !important;
  box-shadow: 0px 1px 2px 1px rgb(255, 255, 255);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  border-bottom: 1px solid #00000025;
}
