// Variables based on Dracula colorspace

$background:#FFF;
$current:   #44475a;
$selection: #44475a;
$foreground:#454545;
$comment:   #6272a4;
$faded:     #bcc2cd;
$cyan:      #8be9fd;
$green:     #a6e8a6;
$orange:    #ffb86c;
$pink:      #ff79c6;
// $purple:    #bd93f9;
$purple:    #9d6ace;
$red:       #ff5555;
$yellow:    #f1fa8c;

// Font stacks
$body-fonts: 'Roboto','Lato', sans-serif;
$heading-fonts: 'Roboto','Lato', sans-serif;
$mono-fonts: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;